body {
    background-color: yellow;
    font-family: sans-serif;
}

h2 {
    font-size: 38px;
    font-weight: bold;
}

h1 {
    font-size: 42px;
    font-weight: bold;
}

ul li a {
    text-decoration: none;
    color: #123456;
}